.center__aside-left { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 22%;
  margin-left: 4.1%;
  padding-right: 10%;
  border-right: 1px solid black;
}

.aside-left--div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 10%;

  & span {
    font-size: 1.5vw;
    margin: 10%;
    padding-left: 55%;
    width: 100%;

    & a {
      text-decoration: none;
    }
  }
}